:root {
    --color-darker-gray: #0C0F12;
    --color-medium-gray: #1C2730;
    --color-light-gray: #C5C6C7;
    --color-light-teal: #52D9D0;
    --color-teal: #3D8280;
    --color-black: #000000;
    --color-white: #D2D4D6;
}
