:root {
    --color-darker-gray: #080C14;
    --color-medium-gray: #0F1D30;
    --color-light-gray: #C2C6D0;
    --color-light-teal: #5BA4F5;
    --color-teal: #1A5FAD;
    --color-black: #000000;
    --color-white: #D0D6E0;
}
